* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2,
h3,
h4,
p,
span {
    color: #000 !important;
}

.w-50 {
    max-width: 75%;
    display: flex;
    justify-content: center;
}

.header {
    position: relative;
}

.header h3 {
    color: #000;
    font-size: 1.85rem;
    font-weight: 400;
    text-transform: uppercase;
}

.header h3::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #494958;
    width: 75%;
    bottom: 0;
}

.page {
    min-height: 100vh;
    background: #fff;
}

.nav-link {
    font-size: 0.95rem;
    font-weight: 400;
}

.nav-link p {
    font-size: 0.95rem;
    font-weight: 600;
}

.nav-item span {
    font-size: 1.05rem;
    font-weight: 400;
    color: #fff !important;
    padding: 0 15px;
}

.navbar-brand {
    font-size: 1.5rem !important;
    font-weight: 400;
}

.form-custom {
    display: flex;
}

.form-control-round {
    border-radius: 20px;
    border: #fff solid 1px;
    font-size: 0.85rem;
}

.text-error {
    color: #e40000;
    font-size: 0.85rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
}

.btn-round {
    font-size: 0.95rem;
}

.dropdown-menu a {
    font-size: 0.95rem !important;
    font-weight: 400;
}

.date-published {
    color: #494958;
}

.news-item img {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.news-item h4:hover {
    color: #494958 !important;
}

.custom-text {
    color: #000;
    font-weight: 400;
}

.page-link {
    color: #000;
}

.page-item:hover a {
    color: #494958 !important;
    font-weight: 600;
}

/* DETAILS PAGE */
.news-header {
    margin-top: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #5f5f72;
}

.publish-info {
    display: block;
}

.news-header h2 {
    margin-bottom: 10px !important;
}

.emotions {
    display: flex;
    margin-top: 10px;
}

.emotions a,
.emotions span {
    color: #fff !important;
    text-transform: none;
    font-size: 0.95rem;
    font-weight: 400;
    margin-right: 5px;
}

.emotions a:hover {
    font-weight: 600;
}

.news-content {
    padding: 30px 0;
    border-bottom: 1px solid #494958;
}

.news-content p {
    font-size: 0.95rem;
    font-weight: 400;
}

.comment {
    padding: 30px 0;
}

.comment h2 {
    color: #494958;
}

.comment textarea {
    font-size: 0.95rem;
    font-weight: 400;
    padding: 15px;
    outline: none;
    border: 1px solid #9797ac;
    color: #494958;
    resize: none;
}

.comment textarea:focus {
    outline: none;
}

.list {
    position: relative;
}

.list h4 {
    color: #494958 !important;
    border-bottom: 1px solid #494958;
    padding-bottom: 10px;
}

.item {
    margin: 20px 0;
    max-width: 75%;
    border-bottom: 1px solid #c0c0c0;
}

.item .group-info {
    display: flex;
}

.item span {
    font-size: 0.95rem;
    font-weight: 500;
}

.item p {
    padding-left: 15px;
    padding-top: 10px;
    font-size: 0.95rem;
    font-weight: 400;
}

.item button:hover {
    cursor: pointer;
}

/* LOGIN PAGE */
.landing-page {
    background: #f7f8fa;
    align-items: center;
}

.container-center {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authentication {
    justify-content: center;
    display: flex;
    justify-content: center;
}

.authentication > div {
    background: #fff;
    padding: 50px 20px;
    box-shadow: 4px 8px 10px rgba(196, 213, 247, 0.3);
}

.authentication > div:first-child {
    border-radius: 20px 0 0 20px;
}

.authentication > div:last-child {
    border-radius: 0 20px 20px 0;
}

.custom-form {
    display: block;
}

.custom-form textarea {
    font-size: 0.95rem;
    font-weight: 400;
    padding: 15px;
    outline: none;
    border: 1px solid #9797ac;
    color: #494958;
    resize: none;
}

.custom-form .description {
    width: 100%;
    outline: none;
    border: none;
    color: #494958;
    font-size: 0.85rem;
    background: #f7f8fa;
    box-shadow: 4px 8px 10px rgba(196, 213, 247, 0.3);
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
}

.custom-form h4 {
    color: #494958;
}

.custom-form .form-control {
    outline: none;
    margin-top: 20px;
    border: none;
    color: #494958;
    font-size: 0.85rem;
    background: #f7f8fa;
    box-shadow: 4px 8px 10px rgba(196, 213, 247, 0.3);
    border-radius: 20px;
    padding: 20px;
}

.success-action {
    font-size: 0.95rem;
    font-weight: 400;
    color: #00f800;
}